.menu {
    padding: 15px 20px;
    position: absolute;
    width: max-content;
    min-height: 100vh;
    right: -100%;
    top: 0;
    background: black;
    z-index: 100000;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    transition: .6s all;
    ul {
        padding-left: 0;
        margin: 0;
    }
    li.menu_btn {
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
    li {
        cursor: pointer;
        list-style-type: none;
        color: #A300FF;
        display: flex;
        align-items: center;
        img {
            margin-right: 15px;
            transition: .3s all;
        }
        a {
            color: #A300FF;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
        &:nth-child(2)  {
            margin-top: 75px;
        }
        margin-top: 40px;

        &:nth-last-child(1) {
            img {
                margin-right: 50px;
            }
            a {
                img {
                    margin-right: 50px;
                }
            }
        }
        &:hover {
            img {
                transform: translateY(-10px);
            }
        }
    }
}

.active {
    right: 0%;
}